{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <img src="{% static 'images/delete-svgrepo-com.svg' %}" alt="delete icon">
  <h1>Delete Sweet Spot</h1>
</div>
<h3>Are you sure you want to delete {{ object.name }}?</h3>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'spots_detail' spot.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}