main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: auto;
  margin-top: 50px;
}

.card {
  width: 380px;
  margin-bottom: 20px;
  border: solid 1px;
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 15px;
  color: var(--text-color);
}

.buttons {
  display: flex;
}

.buttons > a {
  margin: 5px;
}

.card h2 {
  font-size: var(--font-xl);
  z-index: 1;
}

.card p {
  margin: 0;
  font-size: var(--font-reg);
  z-index: 1;
}