.card-container {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  height: 100px;
  margin: 10px;
  border: solid 1px;
  box-shadow: var(--card-box-shadow);
  position: relative;
  background-color: #ffffff76;
}

.card-content {
  padding: 15px;
  height: 100%;
  width: 100%;
  display: flex;
}

.card > a {
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 0;
  align-self: center;
  padding-left: 12px;
  font-size: 18px;
}