.card-container {
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  height: 300px;
}

.card-content {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-container > img {
  width: 100%;
}

.card-text-container {
  justify-items: flex-end;
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}