.dessert-container {
  padding: 40px 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipes, .spots {
  background-color: #f5efe367;
}

.dessert-img {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
}

.dessert-img img {
  width: 80px;
}

.dessert-details {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.dessert-actions {
  margin-top: 20px;
}

.dessert-actions a {
  margin: 0 0 0 10px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  margin-top: 30px;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin: 12px 0 18px 0;
}

.subsection-title img {
  margin: 0 12px 0 0;
}

.subsection-content {
  margin: 0 8px;
}

.dessert-details h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.dessert-details h2 {
  font-size: var(--font-xl);
  margin-bottom: 0;
}

.dessert-details p {
  font-size: var(--font-reg);
  margin: 20px 0;
  line-height: 20px;
  text-align: justify;
}

.dessert-details div {
  align-self: flex-end;
}

.bottom-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-title img {
  height: 38px;
}

.recipes h2,
.spots h2 {
  font-size: 3.2rem;
  margin: 0;
}

.recipes h3,
.spots h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
  padding-left: 10px;
}

.recipes form {
  padding: 0 20px;
  width: 90%;
  align-self: center;
  margin-bottom: 20px;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
  width: 100%;
}

.subsection-content input,
.subsection-content select {
  margin-top: 10px;
  padding: 3px;
}

.recipes table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
  margin: 0 8px 5px 8px;
}

.recipes td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.recipes td > a {
  text-decoration: none;
}

.recipes td > a:hover {
  cursor: pointer;
}

.recipes th {
  font-size: var(--font-l);
  padding: 5px;
  border-bottom: rgba(135, 160, 200, 0.826) solid 2px;
}

.recipes tr:nth-child(even) {
  background-color: #f3f3fd;
}

.spot-container {
  display: flex;
  align-items: center;
}

.spot-container p {
  margin: 12px 0;
}

.spot-container a {
  text-decoration: none;
  color: #111;
}

.spot-container a:hover {
  cursor: pointer;
  font-weight: 600;
  color: rgb(181, 119, 5);
}

.spot-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .dessert-container {
    padding: 40px 52px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .dessert-img {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
  }
  
  .dessert-img img {
    width: 100px;
  }

  .dessert-details {
    padding: 0 40px;
  }

  .bottom-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .bottom-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .bottom-container {
    padding: 0 40px;
  }
}