{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/desserts/dessert-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="dessert-container">
  <div class="dessert-img">
    {% if dessert.category == 'B' %}
    <img 
      src="{% static 'images/muffin-svgrepo-com.svg' %}" 
      alt="muffin"
    >
    {% elif dessert.category == 'D' %}
    <img 
      src="{% static 'images/milkshake-svgrepo-com.svg' %}" 
      alt="milkshake"
    >
    {% elif dessert.category == 'F' %}
    <img 
      src="{% static 'images/icecream-svgrepo-com.svg' %}" 
      alt="ice cream"
    >
    {% elif dessert.category == 'N' %}
    <img 
      src="{% static 'images/jelly-svgrepo-com.svg' %}" 
      alt="jello"
    >
    {% else %}
    <img 
      src="{% static 'images/pancakes-svgrepo-com.svg' %}" 
      alt="pancakes"
    >
    {% endif %}
  </div>
  <div class="dessert-details">
    <h1>{{ dessert.name }}</h1>
    <h2>{{ dessert.get_category_display }}</h2>
    <p>{{ dessert.description }}</p>
    <div class="dessert-actions">
      <a href="{% url 'desserts_update' dessert.id %}" class="btn warn">Edit</a>
      <a href="{% url 'desserts_delete' dessert.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

<div class="bottom-container">
  <section class="recipes">
    <div class="subsection-title">
      <img 
      src="{% static 'images/whisk-cooking-utensil-dishware-svgrepo-com.svg' %}" 
      alt="whisk"
      >
      <h2>Recipes</h2>
    </div>
    <h3>Add a Recipe</h3>
    <form
      action="{% url 'add_recipe' dessert.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ recipe_form.as_p }}
      <button type="submit" class="btn submit">Add Recipe</button>
    </form>
    <h3>List of Recipes</h3>
    {% if dessert.recipe_set.all.count %}
      <table>
        <thead>
          <tr><th>Name</th><th>Restrictions</th><th>Recipe</th></tr>
        </thead>
        <tbody>
          {% for recipe in dessert.recipe_set.all %}
            <tr>
              <td>{{recipe.name}}</td>
              <td>{{recipe.get_restrictions_display}}</td>
              <td><a href="{{recipe.url}}" target="_blank">Link</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="subsection-content">
        <p>No recipes have been added for {{dessert.name}}!</p>
      </div>
    {% endif %}
  </section>

  <section class="spots">
    <div class="subsection-title">
      <img 
      src="{% static 'images/location-svgrepo-com.svg' %}" 
      alt="location pin"
      >
      <h2>Sweet Spots</h2>
    </div>
    <h3>Find your next {{ dessert.name }} in the following locations!</h3>
    <div class="subsection-content">
      {% if dessert.spots.count %}
        {% for spot in dessert.spots.all %}
          <div class="spot-container">
            <a href="{% url 'spots_detail' spot.id %}">
              <p>{{ spot.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-spots">No sweet spots are listed for {{dessert.name}}</p>
      {% endif %}
    </div>
    <h3>List of Sweet Spots</h3>
    <div class="subsection-content">
      {% if spots.count %}
        {% for spot in spots.all %}
          <div class="spot-container">
            <form action="{% url 'assoc_spot' dessert.id spot.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">+</button>
            </form>
            <a href="{% url 'spots_detail' spot.id %}">
              <p>{{ spot.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-spots">
          {{dessert.name}} can be found in all locations listed!
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}