{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/desserts/dessert-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Dessert List</h1>
</section>

<section class="card-container">
  {% for dessert in desserts %}
    <div class="card">
      <a href="{% url 'desserts_detail' dessert.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if dessert.category == 'B' %}
            <img 
              src="{% static 'images/muffin-svgrepo-com.svg' %}" 
              alt="muffin"
            >
            {% elif dessert.category == 'D' %}
            <img 
              src="{% static 'images/milkshake-svgrepo-com.svg' %}" 
              alt="milkshake"
            >
            {% elif dessert.category == 'F' %}
            <img 
              src="{% static 'images/icecream-svgrepo-com.svg' %}" 
              alt="ice cream"
            >
            {% elif dessert.category == 'N' %}
            <img 
              src="{% static 'images/jelly-svgrepo-com.svg' %}" 
              alt="jello"
            >
            {% else %}
            <img 
              src="{% static 'images/pancakes-svgrepo-com.svg' %}" 
              alt="pancakes"
            >
            {% endif %}
          </div>
          <div class="card-text-container">
            <h2 class="card-title">{{ dessert.name }}</h2>
            <p>{{ dessert.get_category_display }}</p>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}